html {
    box-sizing: border-box;
    --primary-color: hsla(122, 85%, 33%, 1);
    --font-display: 'Fredoka One', cursive;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #efefef;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    overflow-x: hidden;
}
::selection {
    background: var(--primary-color);
    text-shadow: none;
}
    
h1, h2 {
    text-decoration: underline;
    text-decoration-color: hsla(33, 78%, 50%, 1);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: normal;
    margin: 0.5em 0;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
}

.container {
    max-width:980px;
    margin: auto;
}
.block {
    padding: 4em;
    position: relative;
    width: 100%;
}

.block:nth-of-type(even) {
    color: hsla(121, 100%, 94%, 1);
}
.block:nth-of-type(even):before {
    display: block;
    position: absolute;
    content: "";
    width: 1000%;
    top: 0;
    bottom: 0;
    left: -500%;
    transform: rotate(1deg);
    filter: hue-rotate(0deg);
    background-color: var(--primary-color);
    background: linear-gradient(-89deg, hsl(122, 85%, 33%) 35%, hsl(121, 65%, 28%) 100%);
    transition: filter 1s linear;
    z-index: -1;
}

.logo {
    font-family: var(--font-display);
    font-size: 2em;
    color: var(--primary-color);
    display: inline-block;
    padding: 0 0.5em;
}

.nav {
    text-align: right;
    margin-bottom: 1em;
    background: #efefef;
    box-shadow: 0 0 0.5em #efefef;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
}
.nav a {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
    transition: transform 500ms ease;
}
.nav a:hover {
    transform: scale(1.1);
    color:#222;
}

.hero {
    font-family: var(--font-display);
    font-size: 2em;
    padding: 1em;
}

.portfolio-list {
    list-style: none;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}
.portfolio-list li {
    flex: 1 0 50%;
    text-align: center;
    padding: 0.5em;
}
.portfolio-list li a {
    overflow: hidden;
    display: block;
    padding-top: 100%;
    border-radius: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 500ms ease, box-shadow 500ms ease;
    box-shadow: 0 0 0 currentColor;
}
.portfolio-list li a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
li.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    vertical-align: middle;
    display: flex;
    flex-flow: column;
    z-index: 1;
}
li.full-screen a {
    background-size: contain;
    padding: 0;
    height: 95vh;
}
.portfolio {
    padding: 9em 1em;
}
.portfolio h2 {
    text-decoration: underline;
    text-decoration-color: hsla(33, 78%, 50%, 1);
}

.link {
    line-height: 3;
    display: inline-flex;
    text-decoration: none;
    padding: 1em;
    font-weight: bold;
    transition: transform 500ms ease;
}
.link:hover {
    transform: scale(1.1);
}
.link svg {
    fill: currentColor;
    padding: 0.5em;
    width: 3em;
}

.footer img {
    width: 200px;
    background: hsla(0, 0%, 100%, .5);
    border-radius: 100px;
    display: block;
    margin: auto;
}

/*DESKTOP STYLES*/
@media (min-width: 980px) {
    body {
        padding-top: 10em;
    }
    .nav {
        position: fixed;
    }
    .portfolio-list li {
        flex: 1 0 25%;
    }
    .footer img {
        float: right;
    }
}